modules = ["nodejs-20"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]
deploymentTarget = "gce"
ignorePorts = true

[workflows]
runButton = "Discord Bot"

[[workflows.workflow]]
name = "Discord Bot"
author = 33651733
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
